*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play', sans-serif;

}

.full-screen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .jb-dev {
    font-size: 24px;
    margin-right: 40px;
    overflow: hidden;
    border-right: .15em solid orange; /* Cambiar el color de la línea del borde aquí */
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3s steps(40, end), blink-caret .75s step-end infinite;
  }

  /* La animación de escritura de texto */
  @keyframes typing {
    from {
      width: 0
    }

    to {
      width: 100%
    }
  }

  /* La animación del cursor */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent
    }

    50% {
      border-color: orange; /* Cambiar el color del cursor aquí */
    }
  }

.navbar {
    background-color: white;
    height: 70px;
}

.nav-item:hover a {
    color: orange;
    transform: scale(1.1);
  }

#navbarSupportedContent ul li a {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    height: 50px;
}


.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border-color: rgba(0, 0, 0, .1);
}

.me-2 {
    margin-right: .5rem !important;
    width: 150px;
}